@page "/edit"
@page "/edit/{ProductId}"
@inherits ProductEditClass
@inject NavigationManager _nav


@if (ProductId == null)
{
    <PageTitle> Create a new Product </PageTitle>
    <h3> Create a new Product </h3>
}
else
{
    if (!Saved)
    {
        <section class="employee-details">
            <h2 class="page-title">Product Details: &nbsp; @Product.ProductName</h2>

            <EditForm Model="Product" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
            <div class="form-group row">
                <label for="ProductName" class="col-sm-3">First name:</label>
                <InputText id="ProductName" class="form-control col-sm-8" @bind-Value="@Product.ProductName" placeholder="Enter Product Name"></InputText>
                    <ValidationMessage For="@(() => Product.ProductName)" />
            </div>
            <div class="form-group row">
            <label for="ProductType" class="col-sm-3">Product Type:</label>
            <InputSelect id="ProductType" class="form-control col-sm-8" @bind-Value="@Product.ProductType" placeholder="Select Product Type">
                <option>Select Product ...</option>
                <option>Flowers</option>
                <option>Ornamental Grasses</option>
                <option>Landscaping Trees and Shrubs</option>
                <option>Herbs</option>
                <option>Microgreens</option>
            </InputSelect>
                    <ValidationMessage For="@(() => Product.ProductType)" />
            </div>
            <div class="form-group row">
                <label for="ProductDescription" class="col-sm-3">Product Description:</label>
                <InputTextArea id="ProductDescription" class="form-control col-sm-8" @bind-Value="@Product.ProductDescription" placeholder="Enter product description"></InputTextArea>
                    <ValidationMessage For="@(() => Product.ProductDescription)" />
            </div>

            <br>
            <button type="submit" class="btn  btn-success" @onclick="UpdateProduct" disabled="@(!context.Validate() || !context.IsModified())"> @btnText </button>
            <button class="btn  btn-danger" @onclick="@(()=>_nav.NavigateTo("productsoverview"))">Back</button> 
        </EditForm>
    </section>
    }
    else
    {
        <div class="alert @Status">@Message</div>
    }
}